/* ESTILOS DE LA WEB */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    transition: opacity 0.3s ease-in-out; /* Agregar una transición suave a toda la página */
    margin: 0;
    padding: 0;
}
/* Estilo de transición para ocultar contenido al cambiar de página */
.ocultar-pagina {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none; /* Evitar interacciones durante la transición */
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}
/* Estilos para el menú */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    border-bottom: 1px solid #dadada; /* Agrega un borde inferior */
}

.logo img {
    max-width: 100px;
}

.menu-list {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu-list li a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s;
}

.menu-list li a:hover {
    color: #333333;
    /* border-bottom: 4px solid #104983;  Barra azul en hover */
    border-bottom: 4px solid #b41b1b; /* Barra roja en hover */
}

/* ESTILO DEL LOGO */
.logo img {
    max-width: 150px;
    height: auto;
    border-radius: 5px;
    transition: filter 0.3s;
}

/* ESTILO PARA EL BANNER */
.banner {
    display: flex;
    width: 100%;
    height: 700px;
    overflow: hidden;
    border: 3px solid #003366;
    border-radius: 5px;
}

.slider {
    display: flex;
    width: 100%;
    transition: transform 1s ease-in-out;
}

.slide {
    flex: 1;
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.caption {
    position: absolute;
    bottom: 45%;
    left: 5%;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgba(8, 8, 8, 0.7);
}

.caption h2 {
    font-family: Arial, sans-serif;
    font-size: 75px;
}

.caption p {
    font-family: Arial, sans-serif;
    font-size: 25px;
}

.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.controls .prev,
.controls .next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
}


/* ESTILO DEL RELLENO */
.relleno {
    text-align: center;
    padding: 40px 0;
    background-color: #003366;
    color: #ffffff;
}

.relleno h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.relleno p {
    font-size: 16px;
}
.relleno p a{
    text-decoration: none;
    color: white;
    border-bottom: 1px solid #ffffff;
}
.relleno p a:hover{
    color:#b41b1b;
    border-bottom: 1px solid #b41b1b;
}

/* Estilos para el encabezado de la sección de procesos */
.encabezado-procesos {
    text-align: center;
    padding: 40px 0;
    background-color: #f5f5f5;
    border-bottom: 1px solid #cccccc;
    width: 40%;
    margin: 0 auto;
}

.encabezado-procesos h2 {
    margin: 0;
    color: #003366;
    font-size: 28px;
}

.encabezado-procesos p {
    margin: 10px 0 0;
    color: #666666;
    font-size: 16px;
}
/* ESTILO DE LOS PROCESOS */
.procesos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 50px;
}

.process-card {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.process-card:hover {
    transform: scale(1.05);
}

.process-card.destacado {
    background-color: #003366;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.process-card.destacado:hover {
    transform: scale(1.05);
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    width: 500px; /* O ajusta el ancho que desees */
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color oscuro semitransparente */
    z-index: 1;
}

.show-overlay {
    display: block;
}

.modal-content {
    padding: 20px;
    text-align: center;
    position: relative;
}

.modal-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px; /* Agregar bordes redondeados a las imágenes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agregar sombra */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

/* ESTILO DEL PROCESO DEL TRABAJO */
.proceso-trabajo {
    background-color: #f5f5f5;
    padding: 10px 0;
    text-align: center;
}

.proceso-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.proceso-container h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #003366;
}

.proceso-container p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #333;
}

.pasos {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 40px;
}

.paso {
    flex: 1;
    max-width: 300px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.paso-numero {
    font-size: 36px;
    font-weight: bold;
    color: #003366;
    margin-bottom: 10px;
}

.paso h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #003366;
}

.paso p {
    font-size: 16px;
    color: #555;
    text-align: justify;
}


/* ESTILO DE LA MISION, VISION Y VALORES */
.mision-vision-valores {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    margin-bottom: -40px;
}

.card {
    flex: 1;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 20px;
    margin: 0 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.azul {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #003366;
    color: #ffffff;
}

.rojo {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #003366;
    color: #ffffff;
}

.card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.card p {
    font-size: 16px;
    text-align: justify;
}

.card ul {
    list-style: none;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

/* Estilos para la sección de cierre */
.seccion-cierre {
    background-color: #f5f5f5;
    border-top: 1px solid #cccccc;
    padding: 80px;
    text-align: center;
}

.seccion-cierre h2 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
}

.seccion-cierre p {
    font-size: 16px;
    color: #666666;
    line-height: 1.6;
}

.seccion-cierre a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.seccion-cierre a:hover {
    color: #b41b1b;
}

/* Estilos para el contenedor */
.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilos para el pie de página */
footer {
    background-color: #003366;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

.redes-sociales {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px; /* Agrega un margen inferior para separar del contenido siguiente */
}

.redes-sociales a {
    display: inline-block;
    margin: 0 10px;
    text-align: center; /* Centra el contenido horizontalmente */
}

.contacto {
    margin-bottom: 15px; /* Agrega un margen inferior para separar del contenido siguiente */
}

.contacto a {
    color: #ffffff; /* Cambia el color del enlace de contacto */
}

.derechos {
    font-size: 14px;
}
/* ESTILOS DE OTRAS PAGINAS */

/*  - OFICINA - */
.nuestras-oficinas {
    padding: 60px;
    text-align: center;
    background-color: #f5f5f5;
    color: #333;
}

.nuestras-oficinas h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    color: #003366;
}

.ubicacion {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    margin-bottom: 40px;
    border-bottom: 1px solid #cccccc;
}

.tarjeta-ubicacion {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left; /* Alinea el contenido a la izquierda */
}

.tarjeta-ubicacion h3 {
    margin-top: 0;
    color: #003366;
}

.tarjeta-ubicacion p {
    margin-bottom: 10px;
    color: #666;
}

.mapa {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; /* Espacio alrededor del mapa */
    background-color: #f3f3f3; /* Fondo del mapa */
}

.mapa-iframe {
    width: 100%; /* Asegura que el iframe ocupe todo el ancho */
    max-width: 400px; /* Limita el ancho máximo del mapa */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mapa-iframe iframe {
    width: 100%;
    height: 240px;
    border: none;
}

/* Estilos para la sección de cierre en "Nuestras Oficinas" */
.seccion-cierre-oficinas {
    background-color: #003366;
    color: #ffffff;
    padding: 60px 0;
    text-align: center;
    border-bottom: 1px solid #ffffff;
}

.seccion-cierre-oficinas h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.seccion-cierre-oficinas p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.btn-ir-contacto {
    background-color: #ffffff;
    color: #003366;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-ir-contacto:hover {
    background-color: #b41b1b;
    color: #ffffff;
}

/* Estilos para la página de Equipo */

.presentacion-equipo {
    background-color: #003366;
    color: #ffffff;
    padding: 80px 0;
    text-align: center;
}

.presentacion-contenido {
    max-width: 800px;
    margin: 0 auto;
}

.presentacion-contenido h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.presentacion-contenido p {
    font-size: 1.1rem;
    line-height: 1.5;
}

.fundadores-descripcion {
    font-size: 1.1rem;
    line-height: 1.5;
}


.equipo {
    padding: 40px 0;
    background-color: #f5f5f5;
    text-align: center;
}

.personas-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}

.persona {
    flex: 1 1 calc(33.33% - 40px);
    max-width: 350px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;
}

.persona:hover {
    transform: translateY(-10px);
}

.imagen {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 50%; /* Hacer la imagen circular */
    margin: 0 auto; /* Centrar horizontalmente */
    margin-top: 20px; /* Añadir espacio arriba */
    margin-bottom: 10px; /* Añadir espacio abajo */
}

/* Estilos para las secciones adicionales */

/* Estilos para la sección de Historia */
.historia {
    padding: 60px 0;
}

.contenido {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.titulo-seccion {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #003366;
}

.descripcion {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #333;
}
/* Estilos para la sección de Logros */
.logros {
    padding: 60px 0;
    border-top: 1px solid #cccccc;
}

.contenido-logros {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.logros-lista {
    list-style: none;
    padding: 0;
    margin: 0;
}

.logros-lista li {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #333;
}

.logros-lista li:before {
    content: "\2022"; /* Agregar un punto circular */
    color: #003366;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

/* Estilos para los botones de navegación */
.btn-prev,
.btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Sombra suave */
    border: none;
    padding: 18px;
    border-radius: 20%; /* Redondear los botones */
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    z-index: 1; /* Asegurar que los botones estén sobre las personas */
}

.btn-prev {
    left: 30px;
    background-image: url('../IMG/arrow-left-solid.svg'); /* Agregar imagen para el botón izquierdo */
    background-size: 50%; /* Ajustar la imagen dentro del botón */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    background-position: center; /* Centrar la imagen */
}

.btn-next {
    right: 30px;
    background-image: url('../IMG/arrow-right-solid.svg'); /* Agregar imagen para el botón derecho */
    background-size: 50%; /* Ajustar la imagen dentro del botón */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    background-position: center; /* Centrar la imagen */
}

.btn-prev:hover,
.btn-next:hover {
    background-color: rgba(231, 231, 231, 0.7);
}

/* -- ANIMACIONES -- */

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px); /* Opcional: Añadir desplazamiento vertical */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.banner,
.relleno,
.nuestras-oficinas,
.ubicacion,
.mapa,
.presentacion-equipo,
.presentacion-contenido,
.mision-vision-valores .card {
    opacity: 0; /* Inicialmente oculto */
    animation: fade-in 1s ease-in-out forwards; /* Aplicar animación */
    animation-delay: 0.1s;
}

/* Retrasar la aparición de cada tarjeta en la sección Mision, Visión y Valores */
.mision-vision-valores .card:nth-child(1) { animation-delay: 0.2s; }
.mision-vision-valores .card:nth-child(2) { animation-delay: 0.4s; }
.mision-vision-valores .card:nth-child(3) { animation-delay: 0.6s; }